/*
 Pharmora Components
 Reusable UI Elements
*/


























/* =========================
   RESPONSIVE
========================= */


@media(max-width:700px){


.nav-links{

display:none;

}


.menu-toggle{

display:block;

}


.card{

padding:20px;

}


.section{

padding:45px 0;

}


.notice-bar{

font-size:.85rem;

}


#notice-text{

animation-duration:15s;

}


}




