/* =========================
   BUTTONS
========================= */


.btn{

display:inline-flex;

align-items:center;

justify-content:center;

padding:14px 24px;

border-radius:50px;

border:none;

font-weight:700;

cursor:pointer;

text-decoration:none;

transition:var(--transition);

}






.btn-primary{

background:

linear-gradient(
90deg,
var(--primary),
var(--secondary)
);


color:#020617;

}





.btn:hover{

transform:translateY(-3px);

}





button:disabled,
.btn:disabled{

opacity:.6;

cursor:not-allowed;

transform:none;

}








